$black: #2c2d2e;
$white: #fff;
$divider: #00103d;
$orange: #ef7c00;


.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul{
        display: flex;
        
    }
}